:root {
    --dark-purple: #301534;
    --pale-purple: #8B6990;
    --white: #FFFFFF;
    --light-pink: #F8EEFF;
    --pink: #AD28EB;
}

.color-dark-purple {
    color: var(--dark-purple);
}

.color-pale-purple {
    color: var(--pale-purple);
}
