@use '../utils/' as u;

.accordion {
    background-color: var(--white);
    padding: 2.4rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    &__icon {
        scale: 0.65;
        transition: scale 0.3s ease-out;

        @include u.breakpoint(medium) {
            scale: 0.925;
        }
    }

    &__heading {
        display: flex;
        flex-direction: row;
        column-gap: 2.4rem;
        row-gap: 0.6rem;
        align-items: center;
        flex-wrap: wrap;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    &__title {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 2.4rem;
        align-items: center;
        transition:
            color 0.3s ease-out,
            cursor 0.3s ease-out;

        &::after {
            content: '';
            width: 2.438rem;
            height: 2.438rem;
            background-image: url('./assets/images/icon-plus.svg');
            background-size: cover;
            transition: background-image 0.3s ease-out;
        }

        &:hover {
            color: var(--pink);
            cursor: pointer;
        }

        &:focus {
            outline-color: var(--pink);
        }
    }
}

.accordion__item[open] > .accordion__title::after {
    background-image: url('./assets/images/icon-minus.svg');
}
